<div class="text-center">
  <h2>{{title}}</h2>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p id="comment-button">
    <button id="comment-button" class="btn btn-primary" type="submit">Leave a Comment</button>
  </p>
</div>



<div class="col-auto" id="comment-form" display="hidden">
  <h3>Create a New Totally Rad Comment:</h3>
  <p></p>
  <form class="form new-comment-form">
    <div class="form-group">
      <label for="comment-user-name">User Name:</label>
      <input type="text" class="form-input" id="comment-user-name" name="comment-user-name" />
    </div>
    <div class="form-group">
      <label for="comment-desc">Comment:</label>
      <textarea class="form-input" id="comment-desc" name="comment-desc"></textarea>
    </div>
    <div class="form-group">
      <input type="hidden" value="{{id}}" id="post-id">
    </div>
    <div class="form-group">
      <button id="button-create" type="submit" class="btn btn-primary">Leave my Words</button>
      <button id="cancel-button" type="submit" class="btn btn-secondary">Cancel Comment</button>
    </div>
  </form>
</div>

<div class="card">
  <div class="card-header">
    Comments
  </div>
  {{#each comments as |comment|}}
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>{{comment.comment}}</p>
      <footer class="blockquote-footer">Words left by: <cite title="Source Title">{{user_name}} on or around:
          {{date_created}}</cite></footer>
    </blockquote>
  </div>
  {{/each}}
</div>


<script src="../js/comment.js"></script>